@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Playfair+Display+SC&family=Playfair+Display:ital,wght@1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .padding {
    @apply px-[20px] sm:px-[50px] md:px-[90px] lg:px-[130px] xl:px-[180px] 2xl:px-[220px] 3xl:px-[240px] desktop:px-[270px] ultra:px-[400px];
  }

  .button-animation {
    @apply hover:brightness-[75%] hover:scale-110 duration-300;
  }

  .section-heading {
    @apply font-bold text-[31px] md:text-[34.1px] lg:text-[44px] xl:text-[55px] 2xl:text-[57px] 3xl:text-[61px] desktop:text-[68px] ultra:text-[101px];
  }
  .section-space {
    @apply gap-y-[21px] md:gap-y-[10px] lg:gap-y-[15px] xl:gap-y-[18px] ultra:gap-y-[25px];
  }
}

.blur {
  filter: blur(2.3888890743255615px);
}

.no-blur {
  filter: blur(0px);
}

.chuj {
  scroll-snap-align: center;
}
